<div class="ui-layout-wrapper">
    <div class="content-container">
        <div class="ui-layout-sidebar">
            <div class="sidebar-container">
                {{> sidebar}}
            </div>
        </div>

        <div class="ui-layout-main-content">
            <div id="main-content">
               {{> chat}}
            </div>
        </div>
    </div>
</div>

<div class="ui-layout-footer">
    {{> chatform}}
</div>