<div class="ui-layout-wrapper">
    <div class="content-container">
        <div class="ui-layout-sidebar">
            <div class="sidebar-container">
                <%- partial('../modules/sidebar/sidebar')%>
            </div>
        </div>

        <div class="ui-layout-main-content">
            <div id="main-content">
               <%- partial('../modules/chat/chat')%>
            </div>
        </div>
    </div>
</div>

<div class="ui-layout-footer">
    <%- partial('../modules/chatform/chatform')%>
</div>