<div class="header">
	<div class="inner">
		<h1 class="logo">
			<a href="/" id="logo">Github Chat Room</a>
		</h1>
		<div class="account">
			<%if (typeof(user) != 'undefined'){ %>
			<ul>
				<li class="user"><%= user.name %></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<% } %>
		</div>
	</div>
</div>
