<div class="header">
	<div class="inner">
		<h1 class="logo">
			<a href="/" id="logo">Github Chat Room</a>
		</h1>
		<div class="account">
			{{#if currentUser}}
			<ul>
				<li class="user">{{currentUser.profile.name}}</li>
				<li><a href="#" id="logout_trigger">Logout</a></li>
			</ul>
			{{/if}}
		</div>
	</div>
</div>
