<div class="chat-form">
	<form method="post" name="chat-form" id="chat-form" action="/messages/create">
		<div class="field">
			<label for="message" id="message-label">Message: </label>
			<input type="text" name="message" id="message" placeholder="Enter yout message here..." />
		</div>
		<div class="actions">
			<input type="submit" id="submitButton" value="Send" />
		</div>
	</div>
</div>