<div class="sidebar">
	<h1>Rooms</h1>
	<div id="side_menu">
		<ul class="menu">
			<li><a href="/room/1">Lobby</a></li>
			<li><a href="/room/2">Room Sample</a></li>
			{{#each menu}}
			<li><a href="/project/{{name}}" class="project" data-info="{{info}}">{{name}} ({{open_issues}})</a></li>
			{{/each}}
		</ul>
	</div>
</div>